body{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

/* navication */

.navication{
 display: flex;
 justify-content: space-evenly;
 align-items: center;
}
.title{
    font-size: 22px;

}
.first{
    font-size: 26px;
    font-weight: bold;
    color:orangered

}
.link{
    text-decoration: none;
    cursor: pointer;
    color: black;
    outline: none;
    font-size: 19px;
}
.link:hover{
    border-bottom: 2px solid orangered;

}
.contact{
    
    background-color: white;
    border: 1px solid black;
    padding: 8px 16px;
    border-radius: 20px;
 text-decoration: none;
 color: black;
    font-size: 19px;
}
.contact:hover{
    background-color: black;
    color: white;
}



/* hero section */
.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.start{
    font-size: 36px;
}
.name{
    font-size: 42px;
}
.role{
    font-size: 19px;
}
span{
    color: orangered;
    font-size: 46px;
}
.chat{
    padding: 10px 18px;
    color: white;
    background-color: black;
    outline: none;
    border-radius: 20px;
    border: none;
    
}
.chat:hover{
    background-color: white;
    border: 1px solid black;
}

.btn{
text-decoration: none;
color: white;
padding: 10px 20px;
font-size: 19px;
}
.btn:hover{
    color: black;
}

.image{
    height: 400px;

}

/* experince */

.expe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    width: 80%;
    transition: 1s ease-in;
}
.experience{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}
.exp{
    display: column;
    align-items: center;
    
}

.exptxt{
    font-size: 30px;

}
.interndes{
    color: gray;
    font-size: 19px;
}
.work{
    font-size: 30px;
}

.place,.duration{
    color: gray;
    font-size: 19px;
}

/* skills */

.skillset{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.skills{
    color: white;
    background-color: black;
    transition: 0.5s ease-in;
    display: flex;
    justify-content: center;
}
.skillbox{
    text-align: left;
}
.skilltxt{
    font-size: 30px;
}
.skilldes,li{
    color: gray;
    font-size: 19px;
}
.softtxt{
    font-size: 30px;
}
.devtxt{
    font-size: 30px;
    
}
.showskills{
display: flex;
justify-content: center;
text-align: left;
}

/* projects */

.projbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

}
.projects{
    display: flex;
    justify-content: center;
}
.projbtn{
    background-color: blue;
    color: white;
    padding: 12px 16px;
    border: none;
    outline: none;
    border-radius: 20px;
}
.projbtn:hover{
    border: 1px solid blue;
    background-color: white;
}
.git{
    text-decoration: none;
    color: white;
    font-size: 19px;
    padding: 12px 18px;
}
.git:hover{
    color: black;
}
.projsum{
    margin-top: 60px;
}
.projname{
    font-size: 30px;
}
.feature{
    font-size: 24px;
    font-weight: bold;
    padding: 0;
    list-style: none;
}
.projdes{
    font-size: 19px;
}
.fea{
    color: black;
    font-size: 19px;
    font-weight: 400;
}

/* about */

.about{
    text-align: center;
}
.contxt{
    font-size: 30px;
}
.condes{
    font-size: 19px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
input{
    padding: 18px 60px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    font-size: 18px;

}
input:focus{
    border: 1px solid blue;
}
.inp1,.inp2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
textarea{
    height: 200px;
    width: 500px;
    outline: none;
    border-radius: 7px;
    font-size: 18px;
}
textarea:focus{
    border: 1px solid blue;
}
.sentbtn{
    padding: 10px 16px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 19px;
}
.sentbtn:hover{
    background-color: black;
    color: white;
}
.burger{
    display: none;
    cursor: pointer;
}
#nav2{
    /* display: none; */
}
.nav2{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    background-color: gray;
    color: white;
    position: absolute;
    top: 58px;
    left: 7px;
}
.link2{
    color: white;
    text-decoration: none;
}
.link2:hover{
    color: black;
    background-color: white;
    padding: 5px;
    width: 120px;
    text-align: center;
    cursor: pointer;

}


/* responsiveness */
@media (max-width:480px){
    /* nav */
.burger{
    display: block;
}
.link{
    display: none;
}
.title{
    font-size: 16px;
}
.first{
    font-size: 20px;
}
.contact{
    font-size: 16px;
    padding: 6px 18px;
}
.navication{
    justify-content: space-evenly;
}

/* hero */

.hero{
    flex-direction: column-reverse;
}
.image{
    height: 200px;
}
.start{
    font-size: 24px;
}
.name{
    font-size: 28px;
}
span{
    font-size: 32px;
}
.role{
    font-size: 16px;
}
.chat{
    font-size: 16px;
    padding: 10px 16px;
    margin-left: 35px;
}

/* experience */
.experience{
    margin-top: 10px;
}
.expe{
    flex-direction: column;
    align-items: start;
}
.exptxt,.work{
    font-size: 20px;
}
.interndes,.duration,.place{
    font-size: 16px;
}

/* skills */

.skillset{
    flex-direction: column;
}
.skilltxt,.softtxt,.devtxt{
    font-size: 20px;
}
li,.skilldes{
    font-size: 16px;
}

/* .projects */

.projbox{
    flex-direction: column;
}
.projname{
    font-size: 20px;
}
.projeds,.fea{
    font-size: 16px;
}
.feature{
    font-size: 18px;
}
.projbtn{
    font-size: 16px;
    padding: 10px 16px;
}


/* about */

.contxt{
    font-size: 20px;
}
.condes{
    font-size: 16px;
}
.inp1{
    flex-direction: column;
    gap: 20px;
}
input{
    padding: 12px 14px;
    font-size: 16px;
}
textarea{
    width: 300px;
    height: 100px;
    font-size: 16px;

}
.sentbtn{
    font-size: 16px;
    padding: 10px 16px;
}


    
}
.hero,.experience,.skills,.projects,.about{
    opacity: 0;
    transition: translateX(-400px);
    transition: 0.9s ease-in all 0.4s;
}

.fadeleft{
    opacity:1;
    transform: translateX(0px);
}